* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Merriweather", serif;
  color: #fff;
}

img {
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 1600px;
}

/* header */
.hero {
  width: 82.5%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./assets/Banner_Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px auto 60px;
  padding: 130px 0;
}

.hero__subtitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
}
.hero__title {
  width: 632px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin: 0 auto;
  text-align: center;
}

/* main section */

/* promo */

.promo {
  width: 82.5%;
  margin: 60px auto;
  color: #ff0000;
  text-align: center;
  font-family: Inter;
}
.promo__description__offer {
  font-size: 88px;
  font-weight: 700;
}

.promo__description__text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}

.promo__description__heading {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* welcome section */
.welcome {
  width: 82.5%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./assets/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 60px auto;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 126px;
}

.welcome__heading {
  width: 642px;
  text-align: left;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.welcome__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.welcome__button--ghost {
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 48px 32px 0;
  cursor: pointer;
}
/* announcement section */

.announcement {
  width: 82.5%;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0 auto;
  text-align: center;
  font-family: Inter;
  margin: 60px auto;
  padding: 100px 0;
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.announcement__textbox__topic {
  color: #f00;
  margin-right: 8px;
}

.announcement__button--danger {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}
/* new year section */
.new-year-offer {
  width: 82.5%;
  margin: 60px auto;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-year-offer__left-section,
.new-year-offer__middle-section .new-year-offer__right-section {
  width: 30%;
  text-align: left;
  font-family: Inter;
  color: #070211;
}
.new-year-offer__subtitle {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.new-year-offer__heading {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 10px 0;
}
.new-year-offer__description {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}
.new-year-offer__middle-section {
  display: block;
  text-align: center;
}
.new-year-offer__figure > img {
  width: 50% !important;
  outline-offset: 15px;
  outline: 8px solid #ff0000;
  border-radius: 50%;
}
.new-year-offer__year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  width: 276px;
}
.new-year-offer__right-section > .new-year-offer__description {
  margin: 10px 0;
}
.new-year-offer__thumb {
  width: 140px;
  height: 140px;
}

/* holliday offer */
.holliday-offer {
  width: 82.5%;
  margin: 60px auto;
  font-family: Inter;
  color: #070211;
  font-family: Inter;
  font-weight: 500;
  text-align: center;
}

.holliday-offer__subtitle {
  font-size: 24px;
}
.holliday-offer__heading {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 28px 0;
}
.holliday-offer__heading > span {
  color: #f00;
}
.holliday-offer__description {
  color: #07021199;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
/* discount */
/* portfolio */
.portfolio {
  width: 82.5%;
  margin: 60px auto;
}
.portfolio__textblock {
text-align: left;
}
.portfolio__subtitle {
  color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.portfolio__heading{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin: 22px 0;
}
.portfolio__description{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-bottom: 48px;
}
.portfolio__showcase{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio__showcase__thumb{
  width: 30%;
  margin-bottom: 64px;
}