@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

ul > a.active {
  border-color: #23be0a;
  color: #23be0a;
  font-weight: 700;
  background-color: rgba(61, 217, 36, 0.09);
}

.react-tabs__tab {
  color: rgba(19, 19, 19, 0.5);
}
select option {
  background: #afaaaa;
  color: black;
}
select {
  outline: 1px solid #23be0a;
}

.recharts-cartesian-axis-tick-value {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
